<?xml version='1.0' encoding='utf-8'?>
<widget id="com.shoppinnet.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Shoppin'Net</name>
    <description>
        Shop together...
    </description>
    <author email="teamchristensen@hotmail.com" href="http://www.shoppinnet.com">
        Shoppin'Net Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
